@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.user-icon {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #ff9d12;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #121225;
  margin: 8px 0;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.container input:focus {
  border-bottom: 2px solid #ff9d12;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 1px;
}

.social-icons a {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover,
.social-icons a:focus {
  border-color: #ff9d12;
  background-color: rgba(255, 157, 18, 0.2);
  transform: scale(1.1);
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #121225;
  height: 100%;
  background: linear-gradient(to right, #121225, #121225);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel img {
  width: 250px;
  height: auto;
  max-width: 100%;
  position: relative;
  top: -30px;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.toggle-panel.toggle-left button {
  margin-left: 270px;
}

.toggle-panel.toggle-right button {
  margin-right: 270px;
}

.toggle-panel button {
  position: relative;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  white-space: nowrap;
}

.toggle-panel button + button {
  margin-top: -1px;
}

.toggle-panel button:hover {
  background-color: #fff;
  color: #121225;
}

.toggle-panel .secondary-btn {
  background-color: #fff;
  color: #121225;
  border: 2px solid #ff9c1200;
  border-top: none;
}

.toggle-panel .secondary-btn:hover {
  background-color: #fff;
  color: #121225;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.remember-forgot a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.remember-forgot label {
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.remember-forgot input[type="checkbox"] {
  margin-right: 5px;
}
