.technology-container {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 0px;
  padding-bottom: 50px;
}

.technology-container h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.intro-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

.card {
  background-color: #f7931e;
  color: white;
  padding: 40px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  max-width: 230px;
}

.card h3 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
  color: white;
}

.contact-text {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #0056b3;
}
