.footer {
  background-color: #121225;
  color: #fff;
  padding: 30px 50px;
  border-top: 2px solid #444;
  font-family: "Arial", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-container img,
.logo-container svg {
  width: 100px;
  height: 50px;
}

.social-media {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.social-media img,
.social-media svg {
  width: 50px;
  height: 50px;
}

.social-media a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
  color: #ff6347;
  transform: scale(1.1);
}

hr {
  border: 0;
  height: 1px;
  background-color: #444;
  margin: 20px 0;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.footer-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.footer-nav li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: #ff6347;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .social-media {
    margin-top: 15px;
  }
}
