.hero {
  background-image: url("/src/assets/Home/image/fundo_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  padding: 210px;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}

.hero-content {
  max-width: 700px;
  text-align: left;
  margin-left: 5%;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}
