.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../assets/Home/image/fundo_home.png") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0px;
  color: white;
  padding-bottom: 50px;
}

.hero-content {
  width: 100%;
  max-width: 500px;
  text-align: left;
  margin-left: 2%;
  padding: 10px;
  border-radius: 0;
}

.title {
  font-size: 3px;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 80%;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 80%;
}

.btn-hero {
  background-color: #fbbf24;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-hero:hover {
  background-color: #b18619 !important;
  color: #fff !important;
}
